html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.login-flex-center {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 60px;
}

.login-img {
    height: 25rem;
    width: 35rem;
    margin-left: 2rem;
}

.login-form-container {
    width: 100%;
    background-color: white;
    color: black;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px 1px rgba(207, 193, 188, 1);
    max-width: 24rem;
    padding: 1.5rem 2rem;
    margin-top: 0;
}

.login-form-title {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.05rem;
    color: #1a202c;
    margin-bottom: 1.5rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.login-label {
    text-align: left;
}

.login-label-text {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: medium;
    color: #1a202c;
    margin-bottom: 0.5rem;
}

.login-input {
    background-color: #f9fafb;
    border: 2px solid #d1d5db;
    color: #1a202c;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    padding: 0.625rem;
    width: 100%;
}

.login-input:focus {
    outline: none;
    border-color: #e95014;
}

.login-eye-icon {
    position: absolute;
    right: 1rem;
    top: 3rem;
    cursor: pointer;
    transition: background-color 0.4s;
    padding: 3px 4px;
    border-radius: 45px;
}

.login-eye-icon:hover {
    background-color: #f1bba5;
    border-radius: 50px;
}

.login-signin-button {
    width: 100%;
    background-color: #f34c0a;
    color: white;
    font-weight: medium;
    border-radius: 0.5rem;
    font-size: 1.3rem;
    padding: 0.225rem;
    text-align: center;
    border: 2px solid #df4508;
    transition: background-color 0.4s;
}

.login-signin-button:hover {
    color: #df4508;
    background-color: transparent;
    font-weight: 700;
}

.login-signup-link {
    font-size: 1rem;
    font-weight: light;
}

.login-signup-link a {
    font-weight: medium;
    color: var(--orange-color);
    text-decoration: none;
}

.login-signup-link a:hover {
    font-weight: 600;
    text-decoration: underline;
}