html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.flex-center-signup {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 40px 0;
}

.login-img-signup {
    height: 30rem;
    width: 35rem;
}

.form-container-signup {
    width: 100%;
    background-color: white;
    color: black;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px 1px rgba(207, 193, 188, 1);
    max-width: 24rem;
    padding: 1rem;
    margin-top: 0;
    max-width: 28rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.account-type-container {
    background-color: rgb(253, 145, 103);
    padding: 0.25rem;
    gap: 0.25rem;
    border-radius: 9999px;
    max-width: max-content;
}

.button {
    padding: 0.5rem 1.25rem;
    border-radius: 9999px;
    transition: all 0.2s ease-in-out;
}

.button-student-active {
    background-color: #ec4807;
    color: white;
    font-weight: 600;
}

.button-student-inactive {
    background-color: transparent;
    color: white;
}

.button-employer-active {
    background-color: #df4508;
    color: white;
    font-weight: 600;
}

.button-employer-inactive {
    background-color: transparent;
    color: white;
}

.form-title-signup {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.05rem;
    color: #1a202c;
    margin-bottom: 1.5rem;
}

.form-signup {
    display: flex;
    flex-direction: column;
}

.label-signup {
    text-align: left;
    width: 100%;
}

.label-text-signup {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: medium;
    color: #1a202c;
    margin:  0.5rem 0;
}

.input-signup {
    background-color: #f9fafb;
    border: 2px solid #d1d5db;
    color: #1a202c;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    padding: 0.625rem;
    width: 100%;
}

.input-signup:focus {
    outline: none;
    border-color: #e95014;
}

.eye-icon-signup {
    position: absolute;
    right: 1rem;
    top: 3rem;
    cursor: pointer;
    transition: background-color 0.4s;
    padding: 3px 4px;
    border-radius: 45px;
}

.eye-icon-signup:hover {
    background-color: #f1bba5;
    border-radius: 50px;
}

.button-signup {
    width: 100%;
    background-color: #f34c0a;
    color: white;
    font-weight: medium;
    border-radius: 0.5rem;
    font-size: 1.3rem;
    padding: 0.225rem;
    text-align: center;
    border: 2px solid #df4508;
    transition: background-color 0.4s;
    margin-top: 1rem;
}

.button-signup:hover {
    color: #df4508;
    background-color: transparent;
    font-weight: 700;
}

.login-link-signup {
    font-size: 1rem;
    font-weight: light;
    margin-top: 1rem;
}

.login-link-signup a {
    font-weight: medium;
    color: var(--orange-color);
    text-decoration: none;
}

.login-link-signup a:hover {
    font-weight: 600;
    text-decoration: underline;
}